<style>
    .ativo {
        background: #618CA7 !important;
    }
    .card {
        width: 100%;
        height: 100%;
    }
    #arena2 {
        max-height: 100%;
        height: 100%;
        overflow: hidden;
    }
    .card-back{
        background-image: url("../img/card-back.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        width: 100%;
        height: 100%;
    }
    .h25{
        height: 25%;
    }
    .h25 .col {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h50{
        height: 50%;
    }

    /** card **/
    .card {
        align-self: center;
        display: inline-block;
        position: relative;
        
        text-align: left;
        
        width: 80%;
        max-width: 309px;
        height: auto;
        max-height: 100%;
        background: #db3042;
        -webkit-box-shadow: 0.3em 0.3em 1.8em 0em rgba(0,0,0,0.75);
        -moz-box-shadow: 0.3em 0.3em 1.8em 0em rgba(0,0,0,0.75);
        box-shadow: 0.4em 0.4em 1.8em 0em rgba(0,0,0,0.75);
        
        padding: 1em 0em 1em 1em;
        color: #fff;
    }

    .card ::selection {
        color: none; 
        background: none;
    }

    .card-bar-box {
        width: calc(100% - 1em);
        background: #db3042;
        border: 0.3em solid #fff;
        height:10%;
        max-height: 10%;
        white-space: nowrap;
        position: relative;
    }

    .card-bar-box div {
        max-height: 10%;
        display: inline-block;
    }

    .card-info-nome {
        margin-left: 0.5em;
        font-size: 1.5em;
        line-height: 2.2em;
        /*width: 11em;*/
        width: 77%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-info-partido {
        position: absolute;
        top: 2px;
        right: 1px;
        float: right;
        width: 18%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .card-info-partido img{
        width: 100%;
        height: 100%;
        float: right;
        margin-bottom: -1.05em;
        object-fit: contain;
    }

    .card-info-img {
        width: calc(100% - 1em);
        height: 50%;
        border: 0.3em solid #fff;
        border-top: none;
        border-bottom: none;
        object-fit: cover;
    }
    .card-attr-box {
        height: 40%;
    }

    .card-attr-box div {
        width: calc(100% - 1em);
        padding: 0.5em 0em 0em 0em;
        border: 0.3em solid #c0c0c0;
        border-top: none;
        
        background: #fff;
        color: #000;
    }

    .card-attr-box div.active {
        background-color: #618CA7;
    }

    .card-attr-box div:first-child {
        border: 0.3em solid #c0c0c0;
    }

    .card-attr-box div label {
        margin-left: 1em;
        font-size: 1.3em;
        font-weight: bold;
        
    }

    .card-attr-box div span {
        margin-right: 1em;
        float: right;
        font-size: 1.5em;
        line-height: 1em;
    }

</style>
<div id="arena2" style="position:relative">

    <div class="row h25">
            <div class="col col-xs-4"><div class="card-back"></div></div>
            <div class="col col-xs-4"><div class="card-back"></div></div>
            <div class="col col-xs-4"><div class="card-back"></div></div>

        <!--<div class="placar">
            <h1>Total de Cartas</h1>
            <h2>Suas: {{ hand.length }}</h2>
            <h2>Adversário: {{ deck.length }}</h2>
        </div>-->
    </div>

    <div class="row h50">
        <div>
            <div>
                <div>

                    <div class="card" ng-show="cartaSelecionadaUsuario">
                        <div class="card-bar-box">
                            <div class="card-info-nome">
                                {{cartaSelecionadaUsuario.nome}}
                            </div>
                            <div class="card-info-partido">
                                <img ng-src="{{cartaSelecionadaUsuario['url-img-partido']}}" />
                            </div>
                        </div>
                        <img class="card-info-img" ng-src="{{cartaSelecionadaUsuario['url-img']}}">

                        <div class="card-attr-box">
                            <div class="card-attr-presenca" ng-class="{'ativo': getAtributoAtivo('presenca')}">
                                <label>Presença</label><span>{{cartaSelecionadaUsuario.presenca}} %</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('privilegio')}">
                                <label>Privilégios</label><span>{{cartaSelecionadaUsuario.privilegio | currency:'R$ '}}</span>
                            </div>
                            <div class="card-attr-processos" ng-class="{'ativo': getAtributoAtivo('processo')}">
                                <label>Processos</label><span>{{cartaSelecionadaUsuario.processo}}</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('votos')}">
                                <label>Votos</label><span>{{cartaSelecionadaUsuario.votos}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div>VS</div>
                <div>

                    <div class="card" ng-show="cartaInimigo">
                        <div class="card-bar-box">
                            <div class="card-info-nome">
                                {{cartaInimigo.nome}}
                            </div>
                            <div class="card-info-partido">
                                <img ng-src="{{cartaInimigo['url-img-partido']}}" />
                            </div>
                        </div>
                        <img class="card-info-img" ng-src="{{cartaInimigo['url-img']}}">

                        <div class="card-attr-box">
                            <div class="card-attr-presenca" ng-class="{'ativo': getAtributoAtivo('presenca')}">
                                <label>Presença</label><span>{{cartaInimigo.presenca}} %</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('privilegio')}">
                                <label>Privilégios</label><span>{{cartaInimigo.privilegio | currency:'R$ '}}</span>
                            </div>
                            <div class="card-attr-processos" ng-class="{'ativo': getAtributoAtivo('processo')}">
                                <label>Processos</label><span>{{cartaInimigo.processo}}</span>
                            </div>
                            <div class="card-attr-privilegio" ng-class="{'ativo': getAtributoAtivo('votos')}">
                                <label>Votos</label><span>{{cartaInimigo.votos}}</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--<div class="">
            <div class="card-turned"></div>
        </div>-->

    </div>

    <div class="row h25">

        <div class="col col-xs-4" ng-repeat="politico in hand | limitTo:3">

            <div class="card">
                <div class="card-bar-box">
                    <div class="card-info-nome">
                        {{politico.nome}}
                    </div>
                    <div class="card-info-partido">
                        <img ng-src="{{politico['url-img-partido']}}" />
                    </div>
                </div>
                <img class="card-info-img" ng-src="{{politico['url-img']}}">

                <div class="card-attr-box">
                    <div class="card-attr-presenca" ng-style="atributoAtivo != '' && !getAtributoAtivo('presenca') && {'background-color': '#fff', 'color': '#000'}" ng-class="{'ativo': getAtributoAtivo('presenca')}"
                        ng-click="batalhar(politico, 'presenca')">
                        <label>Presença</label><span>{{politico.presenca}} %</span>
                    </div>
                    <div class="card-attr-privilegio" ng-style="atributoAtivo != '' && !getAtributoAtivo('privilegio') && {'background-color': '#fff', 'color': '#000'}" ng-class="{'ativo': getAtributoAtivo('privilegio')}"
                        ng-click="batalhar(politico, 'privilegio')">
                        <label>Privilégios</label><span>{{politico.privilegio | currency:'R$ '}}</span>
                    </div>
                    <div class="card-attr-processos" 
                    ng-style="atributoAtivo != '' && !getAtributoAtivo('processo') && {'background-color': '#fff', 'color': '#000'}"
                        ng-class="{'ativo': getAtributoAtivo('processo')}"
                    ng-click="batalhar(politico, 'processo')">
                        <label>Processos</label><span>{{politico.processo}}</span>
                    </div>
                    <div class="card-attr-privilegio" 
                    ng-style="atributoAtivo != '' && !getAtributoAtivo('votos') && {'background-color': '#fff', 'color': '#000'}"
                        ng-class="{'ativo': getAtributoAtivo('votos')}"
                    ng-click="batalhar(politico, 'votos')">
                        <label>Votos</label><span>{{politico.votos}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>