<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.uniodigital.com.br/uniostore/apps/noroestecap/Apps/unimednoroestecap.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.uniodigital.com.br/uniostore/apps/noroestecap/Apps/unimednoroestecap.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.uniodigital.com.br/uniostore/apps/noroestecap/Apps/unimednoroestecap.512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>br.coop.unimednoroestecapixaba.mobile.cooperado</key>
		<string>Unimed Noroeste Capixaba Cooperado</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>SARVFGL53U</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
